.dashboard {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  min-width: 45rem;
  margin: 10rem auto;
  text-align: center;
}


@media (max-width: 970px) {
  .dashboard {
    justify-content: center;
  }
}
