@import '../../index.scss';

.animate-correct { 
  animation: AnimateError 0.3s forwards;
}

@keyframes AnimateError {
  0%    { transform: translateX(-0.5rem); }
  33%   { transform: translateX(0rem);    }
  66%   { transform: translateX(0.5rem);  }
  100%  { transform: translateX(0rem);    }
}

.personalInfo-form {
  article {
    display: flex;
    flex-wrap: wrap;
  }
  
  .no-correct { 
    input { 
      border: 2px solid red;
    }
  }

  div {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;

    &:nth-child(4),
    &:nth-child(5) {
      margin-top: 1rem;

      label { 
        width: 9rem;
        margin: 0 auto;
      }
    }

    input[type='date'],
    select {
      width: 15rem;
      height: 3.3rem;
      margin-left: 3rem;
      border-radius: 0.3rem;
      border: 1px solid black;
    }

    select {
      margin-left: 4.5rem;
    }

    @media (max-width: 1240px) {
      select { 
        margin-left: 3rem; 
        margin-bottom: 2rem; 
      } 
    }

    label { 
      left: 3rem;

      &.top { 
        left: 2.5rem;
        color: $white-color;
      }
    }
  }

  .bio {
    width: 86%;
    margin: 0 auto;
    margin-left: 2rem;
    
 
    input {
      height: 5rem;
      width: 100%;
    }

    label { 
      bottom: 1rem;
      left: 2rem;

      &.top { 
        left: 1rem;
        bottom: 5rem;
        color: $white-color;
      }
    }
  }

  button {
    margin-top: 2rem;
    width: 45%;
    font-size: 1.7rem;

    &:hover {
      color: $white-color
    } 
  }
}