@import '../../index.scss';

.profile {
  &-header {
    grid-area: header;
  }

  &-image {
    background: silver;
    padding-top: 1rem;
    
    p {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }

    .avatar-upload {
      left: 16rem;
      bottom: 3.5rem;
      opacity: 0.8;
      border: none;
      cursor: pointer;
      padding: 0.8rem;
      position: absolute;
      border-radius: 50%;
      background: $white-color;

      &:hover {
        opacity: 1;
      }
      
      i {
        font-size: 2.5rem;
        color: $primary-color;
      }
    }
  }

  &-image .avatar-image { 
    background-repeat: no-repeat;
    border: 3px solid white;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
  }

  &-image a,
  &-image > div {
    display: block;
    padding-bottom: 0.5rem;
  }

  &-nav { 
    border: 1px solid $primary-color;

    ul { 
      width: 50%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      li { 
        padding: 1rem;
        cursor: pointer;
        border-right: 1px solid $primary-color;
      }
    }
  }
}

@media (max-width: 800px) {
  .profile-nav {
    li:nth-child(2) {
      border-left: 1px solid $primary-color;
    }

    li:nth-child(1) {
      border: none;
      align-self: flex-end;
    }
  }
}