@import '../../index.scss';

.user-profile { 
  width: 80%;
  margin: auto;
  display: grid;
  min-width: 86rem;
  margin-top: 7rem;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    'header header'
    'aside main'
    '. main';

  grid-gap: 1rem;
}

@media (max-width: 700px) {
  .user-profile {
    min-width: 45rem;
    margin-top: 9rem;
    grid-template-areas: 
    'header header'
    'aside aside'
    'main main';
  }
}

main {
  grid-area: main;
  border: 1px solid $primary-color;
}