@import '../../index.scss';

.user-profile { 
  width: 80%;
  min-width: 45rem;
  margin: auto;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    'header header'
    'aside main'
    '. main';

  grid-gap: 1rem;
}

@media (max-width: 700px) {
  .user-profile {
    margin-top: 9rem;
    grid-template-areas: 
    'header header'
    'aside aside'
    'main main';
  }
}

main {
  grid-area: main;
  border: 1px solid $primary-color;

  .no-more-posts,
  .more-posts { 
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    cursor: pointer;
    color: darkblue;
    text-align: center;
  }

  .no-more-posts { 
    cursor: initial;
    color: $danger-color;
  }
}