@import '../../index.scss';

.post-comments {
  height: 10rem;
  overflow: auto;
  margin-top: 1rem;
  border-radius: 0 0 0 0.4rem;
  background: $light-color;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  .no-comments { 
    width: 90%;
    margin: 0 auto;
    color: tomato;
    text-align: center;
  }

  form {
    margin-bottom: 1em;

    .create-comment { 
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    
    .create-comment input { 
      flex: 1 1 50%;
      padding: 0.6em;
      border-radius: 1em;
      margin: 0 0.5em;
      border: 1px solid $primary-color;
    }
  }

  .comment-error {
    margin: 0.5em 0 0 0.5em;
    color: red;
  }

  .no-more-comments,
  .more-comments { 
    width: 40%;
    display: block;
    margin: 0 auto;
    color: darkblue;
    cursor: pointer;
    text-align: center;
  }

  .no-more-comments { 
    color: $danger-color;
    cursor: initial;
  }
}

.single-post .post-comments {
  height: 20rem;
}