@import '../../index.scss';

.post { 
  width: 80%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  border-radius: 0.4rem;
  background: rgb(212, 208, 208);

  &-header { 
    display: flex;
    align-items: center;

    img { 
      width: 45px;
      height: 45px;
      margin: 1rem;
      border-radius: 50%;
    }

    span { 
      color: $primary-color;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  &-content { 
    width: auto;
    border: none;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    img { 
      width: 100%;
      margin: 1rem;
      height: auto;
      border-radius: 0.4rem;
    }

    p { 
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $primary-color;
    }
    
    .posted-on { 
      margin-left: auto;
      font-style: italic;
    }
  }

  &-buttons { 
    width: 98%;
    display: flex;
    margin: 0 auto;

    a{
      width: 100%;
      color: darkblue;
    }
  }
}

.single-post { 
  width: 50%;
  margin-top: 7rem;
  min-width: 60rem;
}