@import '../../index.scss';

.btn { 
  width: 9rem;
  outline: none;
  display: block;
  cursor: pointer;
  padding: 0.6rem;
  margin: 1rem auto;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  border: 1px solid black;
  transition: 0.3s ease-in-out;

  &-primary {
    color: $warning-color;
    background: $primary-color;

    &-animation:hover {
      color: black;
      background: transparent;
      border: 1px solid black;
    }
  }

  &-danger {
    background: $danger-color;

    &-animation:hover {
      color: darkred;
      background: transparent;
      border: 1px solid darkred;
    }
  }

  &-info {
    background: $info-color;
    color: darkblue;

    &-animation:hover {
      background: transparent;
      border: 1px solid darkblue;
    }
  }

  &-light { 
    background: $white-color;

    &-animation:hover {
      color: $white-color;
      background: $primary-color;
      border: 1px solid black;
    }
  }
}