.cards {
  margin-top: 12rem;
  min-width: 45rem;

  &-wrapper { 
    width: 90%;
    padding: 1rem;
    display: grid;
    margin: 0 auto;
    min-width: 30rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1024px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}