@import '../../index.scss';

.card {
  display: flex;
  grid-row: span 1;
  background: $light-color;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.3rem;
  flex-direction: column;
  min-height: 20rem;
  padding-top: 1rem;

  img { 
    width: 60%;
    height: auto;
    object-fit: cover;
    max-height: 19rem;
    margin: 0.5rem auto;
    border-radius: 0.3rem;
    border: 3px solid white;
  }

  p { 
    margin-top: 0.5rem;
    text-align: center;
  }

  span {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .posted-by { 
    text-align: end;
    font-style: italic;
    margin: 1rem 0.3rem 0 0;
    
    small {
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  .name,
  .email { 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    width: 19rem;
  }

  .text {
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}

.no-image {
  flex-direction: column-reverse;
  padding-top: 3rem;

  button { 
    order: 1;
  }
  
  span {
    order: 2;
  }
  
  p {
    order: 3;
  }

  .text {
    height: 100%;
    display: block;
  }
}

img.no-avatar {
  order: 3;
  width: 65%;
  margin-bottom: 1rem;
}

.square,
.landscape { 
  flex-direction: column-reverse;

  button { 
    order: 1;
  }
  
  span {
    order: 2;
  }
  
  p {
    order: 3;
  }

  img {
    width: 90%;
    margin: auto;
    order: 4;
  }

  img.avatar { 
    order: 3;
    width: 152px;
  }
}