@import '../../index.scss';

.form {
  max-width: 75rem;
  min-width: 45rem;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 9rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.3rem;

  &-title { 
    position: absolute;
    top: -23px; left: -1px;
    border: 1px solid black;
    display: inline-block;
    width: auto;
    border-radius: 0.2rem 0.2rem 0.2rem 0;
    padding: 1rem;
    background: $white-color;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $white-color;
      background: $primary-color;
    }
  }

  form {
    width: 80%;
    padding: 2rem 0;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .form {
    margin-top: 10rem;
  }
}