@import '../../index.scss';

nav {
  justify-content: space-between;
  min-width: 45rem;
  background: $primary-color;
  position: fixed;
  display: flex;
  width: 100%;
  color: $white-color;
  top: 0;

  .logo {
    align-self: center;
    width: 150px;
    height: 30px;
    background-image: url('/logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    margin-left: 1rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin-right: 1rem;
    align-items: center;

    li {
      display: block;

      &:not(:last-child) { 
        margin-right: 2rem;
      }
    }

    .fas {
      display: none;
      color: $white-color;
      margin-top: 1.9rem;
      margin-bottom: 0.3rem;
      font-size: 2.2rem;
    }

    .fa-bars { 
      margin-bottom: 1rem;
    }

    a {
      color: $white-color;
    }

    .active { 
      background: $white-color;
      color: $primary-color;
      padding: 1rem;
      font-weight: bold;
      display: block;
    }
  }

  .user { 
    display: flex;
    margin: 0.5rem;
    align-items: center;

    &-image {
      width: 30px;
      min-width: 30px;
      height: 30px;
      background-image: url('https://m2bob-forum.net/wcf/images/avatars/3e/2720-3e546be0b0701e0cb670fa2f4fcb053d4f7e1ba5.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin: 0 0.5rem 0 1rem;
    }
  }
}

@media (max-width: 700px) {
  nav {

    ul{
      flex-direction: column;

      li {
        display: none;
        margin-bottom: 0.3rem;

        &:not(:last-child) { 
          margin-right: 0;
        }  

        &:last-child {
          margin-bottom: 1rem;
        }
      }

      .fas {
        display: block;
      }
    }

    .show {
      li {
        display: block;
      }
    }
    
    .logo { 
      align-self: flex-start;
      margin-top: 0.5rem;
      // height: 47px;
      height: 34px;
    }

    .user {
      flex-direction: column;

      &-image {
        align-self: flex-end;
      }
    }
  }
}