.spinner {
  img { 
    width: 100px;
    margin: auto;
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
  }
}

@media (max-width: 700px) {
  .spinner {
    img {
      top: 6%;
      left: 55%;
      transform: translate(-55%, -6%);
    }
  }
}