.spinner {
  display: inline-block;
  img { 
    top: 5%;
    left: 50%;
    z-index: 2;
    width: 100px;
    position: fixed;
    margin-top: 2rem;
    transform: translate(-50%, -5%);
  }

  .button-spinner { 
    width: 40px;
    position: static; 
    display: inline-block;
    transform: translate(0);
    margin: -2rem 0 -1.5rem 0; 
  }
}