$primary-color: gray;
$light-color: lightgray;
$white-color: whitesmoke;
$info-color: skyblue;
$danger-color: tomato;
$warning-color: yellow;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;

  body {
    font-size: 1.6rem;

    a, button, input, textarea {
      outline: none;
      text-decoration: none;
    }
    
    ul {
      list-style-type: none;
    }
  }
}
