$primary-color: gray;
$light-color: lightgray;
$white-color: whitesmoke;
$info-color: skyblue;
$danger-color: tomato;
$warning-color: yellow;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;

  body {
    font-size: 1.6rem;

    a, button, input, textarea, select {
      outline: none;
      text-decoration: none;
    }
    
    ul {
      list-style-type: none;
    }

    .more-items, 
    .no-more-items {
      width: 100%;
      display: block;
      margin: 1rem auto;
      cursor: pointer;
      color: darkblue;
      text-align: center;
    }

    .no-more-items { 
      cursor: initial;
      color: $danger-color;
    }
  }
}
