$primary-color: gray;
$white-color: whitesmoke;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  
  body {
    font-size: 1.6rem;

    a, button {
      outline: none;
      text-decoration: none;
    }
  }
}
