.search {
  width: 50%;
  margin: 0 auto;
  min-width: 45rem;
  text-align: center;

  &-wrapper {
    width: 20%;
    padding: 0.6rem;
    min-width: 14rem;
    position: relative;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    display: inline-block;
    border: 1px solid black;

    .fas {
      left: 7px;
      color: gray;
      bottom: 8.5px;
      font-size: 1.4rem;
      position: absolute;
      margin-right: 0.2rem;
    }

    input { 
      width: 86%;
      border: none;
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  }
}