.users {
  margin-top: 7rem;

  &-wrapper { 
    width: 90%;
    padding: 1rem;
    display: grid;
    margin: 0 auto;
    min-width: 30rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1024px) {
  .users-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .users-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pagination { 
  width: 60%;
  min-width: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;

  button {
   padding: 0.5rem;
   outline: none;
   border: 1px solid black;
   cursor: pointer;
  }

  .previous {
    background: tomato;
  }

  .next {
    padding: 0.5rem 1.3rem;
    background: gray;
    color: yellow;
  }

  div {
    display: flex;
  }

  span {
    border: 1px solid black;
    padding: 0.3rem;
    margin: 0 0.1rem;
    cursor: pointer;
  }
  
  .active { 
    background: red;
    color: yellow;
  }
}




